/* Prevent cross-browser misbehaviour */
* { margin: 0; padding: 0; outline: none; }
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img { border: none; }
a, a:hover, a:visited, a:focus { text-decoration: none; }
p { display: block; }
strong { display: inline-block; }

html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #0f0e14;
    width: 100%;
    height: 100vh;
}

/* Generic */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.radius-3 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.radius-5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.radius-5-bottom {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.shadow_bottom {
    -webkit-box-shadow: 0px 2px 12px 1px rgba(158,158,158,1);
    -moz-box-shadow: 0px 2px 12px 1px rgba(158,158,158,1);
    box-shadow: 0px 2px 12px 1px rgba(158,158,158,1);
}

#page_wrapper {
    padding: 40px 30px;
}

.jstest_button, button.jstest_button {
    display: inline-block;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #404040;
    background-color: #E6E7E9;
    padding: 5px 50px;
    margin-left: 20px;
    border: none;
    cursor: pointer;
}
button.jstest_button {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-left: 2px;
}
.jstest_button:first-child, button.jstest_button:first-child {
    margin-left: 0;
}

.jstest_input {
    padding: 4px 10px;
    font-size: 16px;
    margin-left: 40px;
}

.jstest_search {
    margin-bottom: 60px;
}

#current_search_title {
    margin-bottom: 15px;
}
#current_search {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #d2e4ff;
}

/* Flickr results */
.flickr_item {
    padding: 20px;
    margin-top: 30px;
    background: #f2f4fc;
}
.flickr_item:first-child {
    margin-top: 0;
}
.flickr_title {
    margin-bottom: 20px;
    font-weight: 400;
}
.flickr_image {
    position: relative;
    margin-bottom: 15px;
}
.flickr_image:hover .flickr_date { opacity: 1 }
.flickr_image > a {
    display: block;
    width: 100%;
    height: 100%;
}
.flickr_image > a > img {
    display: block;
    height: 100%;
}
.flickr_date {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 30px);
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 8px 15px;
    text-align: right;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.flickr_tags > div {
    margin-bottom: 10px;
}
.flickr_tags ul {
    list-style: none;
}
.flickr_tags ul li {
    float: left;
    margin-left: 15px;
    font-style: italic;
}
.flickr_tags ul li > a {
    color: #616161;
}